<footer class="uoc-footer">
  <p>
    &copy; Universitat Oberta de Catalunya
    <picture> <!-- se añade el logo de la UOC -->
      <source srcset="./assets/images/logo.png?as=webp&width=50" type="image/webp">
      <img src="./assets/images/logo.png?width=50" alt="Universitat Oberta de Catalunya">
    </picture>
  </p>
  <!-- personalizando pie de página -->
  <p>
    Proyecto y PEC1 realizada y modificada por el alumno: <i>Eugenio Blanco Fernández</i>    
  </p>
  <p>
    Aula 01 de la asignatura: Herramientas de HTML y CSS II del Máster de Desarrollo de Sitios y Aplicaciones Web (UOC)
  </p>
</footer>
